.headline {
    background-color: #A0FFFA;
}

li.odd {
    background-color: #EEE;
}

li.even {
    background-color: #FFF;
}

.train {
    font-weight: bold;
}

p#disclaimer {
    background-color: #FCC;
}

p#retrieval-status {
    background-color: #FFFAA0;
}