
.headline {
    background-color: #DDD;
}

li.odd {
    background-color: #EEE;
}

li.even {
    background-color: #FFF;
}

.train {
    font-weight: bold;
}

#disclaimer {
    background-color: #FCC;
}

#status {
    background-color: #FFFAA0;
}